@use "@material/theme" with (
  $primary: #00bcd4,
  $secondary: #f44336,
  $background: #c7c7c7,
);
@use "@material/list";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";
@use "@material/fab";
@use "@material/checkbox";
@use "@material/form-field";

@include checkbox.core-styles;
@include form-field.core-styles;
@include card.core-styles;
@include textfield.core-styles;
@include fab.core-styles;


html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;
  background-color: #153462;
  color: #fff;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
  background-color: #001253;
  color: white;
}

section {
  text-align: center;
}

.content {
  margin: 10rem auto;
  padding-bottom: 20rem;
  text-align: center;
}

.sample-content--hidden {
  display: none;
}

.mdc-tab {
    background-color: #001253;
}

.mdc-tab__content .mdc-tab__text-label {
    color: white;
}

.mdc-text-field {
    margin: 1rem auto;
}

.button {
  margin-top: 1rem;
}

.mdc-snackbar__actions .mdc-button__label {
  color: #404258;
}



.mdc-card {
  height: 435px;
  width: 700px;
  margin: 0 auto;
  background-color: #001253;
  border: 1px solid #001253;
  border-radius: 5px;
  border-color: #00bcd4;
}

.mdc-card__media-content {
  //background-image: url("https://www.nationalgeographic.com.es/medio/2019/05/30/alan-turing_8c5d84c7_1200x630.jpg");
  background-size: contain;
  text-align: left;
  padding-left: 1rem;
  overflow-y: scroll;
}

.mdc-text-field {
  color: #fff;

}

#user-list{
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1rem;
  // border: 1px solid #00bcd4;
  // border-radius: 5px;
  // background-color: #001253;
  color: white;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  text-align: left;
  cursor: pointer;
  margin-left: 45%;
}

.mdc-card__media mdc-card__media--square {
  overflow-y: scroll;
}